<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #1DB954;
            padding: 20px;
        }
        .error-message {
            color: #191414;
            font-size: 24px;
            margin-bottom: 20px;
        }
        .error-description {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="error-message">¡Ups! Algo salió mal.</div>
    <div class="error-description">Lo sentimos, se produjo un error, contacta al propietario.</div>
</body>
</html>
